
<section style="background:#efefe9;">

  <div class="container">
      <div class="board">
          <!-- Navigation Area (Circular Tabs) -->
          <app-bidder-wizard-navbar></app-bidder-wizard-navbar>
          <!-- End Navigation Area (Circular Tabs) -->

          <!-- Content Area -->
          <div class="tab-content">
              <!-- Nested view  -->
              <form #workForm="ngForm" class="editForm" novalidate>
                  <div class="form-horizontal">
                      <div class="tab-pane fade in active">
                          <h4 class="head text-center" >{{title}}</h4>
                          <br/>
                          <div class=''>
                              <div class="col-md-12">
                                  <div class='col-md-8 border input_fld'>
                                      <div class="input" *ngFor="let value of formDataService.bidderWizardFormFields; let i = index">
                                          <div id="{{i}}" class="form-group inr_pd" *ngIf ="value.fieldType == 'email' || value.fieldType == 'text' || value.fieldType == 'number' || value.fieldType == 'date' || value.fieldType == 'time' || value.fieldType == 'file'">
                                              <label class="control-label" style="text-transform: capitalize;" >{{value.label}} <span *ngIf ="value.required == true" class="text-red">*</span></label>
                                              <div class="row_div">
                                                  <input class="form-control input-md"  disabled="true" #{{value.label}}="ngModel"  id="{{value.label}}" name="{{value.label}}" type="{{value.fieldType}}" [(ngModel)]="workForm[value.label]">
                                                  <button class="btn btn-sm btn-del btn-danger" (click)="removeField(i)" id="delBtn">
                                                      <i class="fa fa-trash"></i>
                                                  </button>
                                              </div>
                                          </div>
                                          <div id="{{i}}" class="form-group inr_pd" *ngIf ="value.fieldType == 'dropdown'">
                                              <label class="control-label" for="{{value.label}}" style="text-transform: capitalize;">{{value.label}} <span *ngIf ="value.required == true" class="text-red">*</span></label>
                                              <div class="row_div">
                                                  <select class="form-control input-md" id="{{value.label}}" name="{{value.label}}">
                                                      <option *ngFor="let option of value.options">{{option.value}}</option>
                                                  </select>
                                                  <button (click)="removeField(i)" class="btn btn-sm btn-del btn-danger" id="delBtn">
                                                      <i class="fa fa-trash"></i>
                                                  </button>
                                              </div>
                                          </div> 
                                          <div id="{{i}}" class="form-group inr_pd" *ngIf ="value.fieldType == 'checkbox'">
                                              <label class="control-label" for="{{value.label}}" >{{value.label}}</label>
                                              <div class="row_div">
                                                  <div style="margin-right:10px" *ngFor="let label of value.selectLabels">
                                                      <label style="margin-right:10px" class="control-label" for="{{value.label}}" >{{label.value}}</label>
                                                      <input class="form-group input-md"  disabled="true" #{{value.label}}="ngModel"  id="{{value.label}}" name="{{value.label}}" type="{{value.fieldType}}" [(ngModel)]="workForm[value.label]">
                                                  </div>
                                                  <button (click)="removeField(i)" class="btn btn-sm btn-del btn-danger" id="delBtn">
                                                      <i class="fa fa-trash"></i>
                                                  </button>
                                              </div>
                                          </div> 
                                          <div id="{{i}}" class="form-group inr_pd" *ngIf ="value.fieldType == 'textarea'">
                                              <label class="control-label" for="option" >{{value.label}} <span *ngIf ="value.required == true" class="text-red">*</span></label>
                                              <div class="row_div">
                                                  <textarea class="form-control input-md" disabled="true" id="{{value.label}}" name="{{value.label}}" rows="{{value.length}}" type="textarea" #{{value.label}}="ngModel" [(ngModel)]="workForm[value.label]"></textarea>
                                                  <button class="btn btn-sm btn-del btn-danger" (click)="removeField(i)" id="delBtn"><i class="fa fa-trash"></i></button>
                                              </div>
                                          </div>
                                          <div id="{{i}}" class="form-group inr_pd" *ngIf ="value.fieldType == 'switchbutoon'">
                                              <label class="control-label" for="switchbox" >{{value.label}}</label>
                                              <div class="row_div">
                                                  <label class="switch">
                                                      <input class="form-control input-md"  disabled="true" id="{{value.label}}" name="{{value.label}}" type="checkbox" #{{value.label}}="ngModel" [(ngModel)]="workForm[value.label]">
                                                      <span class="slider round"></span>
                                                  </label>
                                                  <button class="btn btn-sm btn-del btn-danger" (click)="removeField(i)" >
                                                      <i class="fa fa-trash"></i>
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class='col-md-4 '>
                                      <form #myForm="ngForm" name="dyanmicForm" >
                                          <div ng-app="myApp" >
                                              <select class="form-control input-md" (change)="SelectedRow($event.target.value)"  required id="fieldType" name="fieldType" [(ngModel)]="workType.fieldType">
                                                <option value="" > ---Select Field Type---</option>
                                                  <option value="text" >Text</option>
                                                  <option value="number">Number</option>
                                                  <option value="textarea">Textarea</option>
                                                  <option value="date">Date</option>
                                                  <option value="time">Time</option>
                                                  <option value="file">File Attachment</option>
                                                  <option value="dropdown">Drop Down</option>
                                                  <option value="checkbox">Checkbox</option>
                                                  <option value="switchbutoon">Switch box</option>
                                              </select>
                                              <div *ngIf="isSelected">
                                                  <div class="form-group">
                                                      <label class="control-label" for="title">Field Label</label> 
                                                      <input class="form-control input-md " [ngStyle]="{'text-transform': 'capitalize'}" (ngModelChange)="check_is_valid_label($event)" value="" #label="ngModel" required id="label" name="label" type="text" [(ngModel)]="workType.label" >
                                                      <div *ngIf="invalidLabel" class="error">Field label is already taken</div>
                                                  </div>
                                              </div>
                                              
                                              <div *ngIf="fieldType == 'textarea' && isSelected">
                                                      <div class="form-group">
                                                          <label class="control-label" for="title">No.of rows</label> 
                                                          <input class="form-control input-md" #title="ngModel" required id="length" name="length" type="number" min="1" [(ngModel)]="workType.length" >
                                                      </div>
                                                  </div>
                                              <div *ngIf="fieldType == 'dropdown' && isSelected">
                                                  <div class="form-group">
                                                      <label class="control-label" for="title">Add option</label>
                                                      <div class="row_div" *ngFor="let choice of choices" #option>
                                                          
                                                          <input class="form-control input-md" [ngStyle]="{'text-transform': 'capitalize'}"  #title="ngModel" required id="{{choice.id}}" name="{{ choice.id}}" type="text" placeholder="{{ choice.id }}" [(ngModel)]="choice.value">
                                                          <button class="btn btn-sm btn-del btn-success" (click)="addOption()" ><i class="fa fa-plus"></i></button> 
                                                          <button *ngIf = "choice.id !== 'option 1'" class="btn btn-sm btn-del btn-danger" (click)="removeOption(choice.i)" ><i class="fa fa-trash"></i></button> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <div *ngIf="fieldType == 'checkbox' && isSelected">
                                                  <div class="form-group">
                                                      <label class="control-label" for="title">Add label</label>
                                                      <div class="row_div" *ngFor="let selectBox of selectBoxes" #option>
                                                          
                                                          <input class="form-control input-md" [ngStyle]="{'text-transform': 'capitalize'}" #title="ngModel" required id="{{selectBox.id}}" name="{{ selectBox.id}}" type="text" placeholder="{{ selectBox.id }}" [(ngModel)]="selectBox.value">
                                                          <button class="btn btn-sm btn-del btn-success" (click)="addLabel()" ><i class="fa fa-plus"></i></button> 
                                                          <button *ngIf = "selectBox.id !== 'checkbox 1'" class="btn btn-sm btn-del btn-danger" (click)="removeLabel(selectBox.id)" ><i class="fa fa-trash"></i></button> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <div *ngIf="isSelected">
                                                  <div class="form-group">
                                                      <div class="req_div">
                                                          <label class="control-label" for="title">Required</label> 
                                                          <input class=" input-md" #title="ngModel"  id="required" name="required" type="checkbox" [(ngModel)]="workType.required" >
                                                      </div>
                                                  </div>
                                              </div>
                                              
                                              <button class="btn btn-outline-rounded btn-default" [disabled]="!myForm.valid" (click)="submitInner(workType)" > ADD</button>
                                          </div>
                                          
                                      </form>
                                  </div>  
                              </div>
                          </div>
                          <div class="form-group text-center space-20">
                              <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(workForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                              <button class="btn btn-outline-rounded btn-info"  (click)="goToNext(myForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
          <!-- End Content Area -->
      </div>

      <!-- For Debugging: show our valid formData -->
      <!-- <pre>{{ formData | json }}</pre> -->
  </div>
</section>



