<section style="background:#efefe9;">

    <div class="container">
        <div class="board">
            <!-- Navigation Area (Circular Tabs) -->
            <app-bidder-wizard-navbar></app-bidder-wizard-navbar>
            <!-- End Navigation Area (Circular Tabs) -->
  
            <!-- Content Area -->
            <div class="tab-content">
                <!-- Nested view  -->
                <div class="tab-pane fade in active">
                    <p class="narrow text-center">
                        Generated Bidder From:
                    </p>
                    <div class='row'>
                        <div class='col-xs-offset-1 col-xs-12 col-sm-offset-1 col-sm-10'>
                            <div class="row">
                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                        <label class="control-label" for="firstName">First Name <span class="text-red">*</span></label>  
                                        <input disabled class="form-control input-md"  required id="firstName" name="First name" type="text" placeholder="Please enter first name"  minlength="4">   
                                    </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                        <label class="control-label" for="lastName">Last Name <span class="text-red">*</span></label>  
                                        <input disabled class="form-control input-md"  required id="lastName" name="Last name" type="text" placeholder="Please enter last name"  minlength="4">   
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                        <label class="control-label" for="bidderTitle">Bidder Title <span class="text-red">*</span></label>  
                                        <input disabled class="form-control input-md"  required id="bidderTitle" name="bidderTitle" type="text" placeholder="Please enter title">   
                                    </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                        <label class="control-label" for="bidderCompanyName">Bidder Company Name <span class="text-red">*</span></label>
                                        <input disabled class="form-control input-md" required id="bidderCompanyName" name="bidderCompanyName" type="text" placeholder="Please enter company name" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-xs-12 col-sm-12'>
                                    <div class="form-group">
                                        <label class="control-label" for="bidderEmail">Bidder Email <span class="text-red">*</span></label>  
                                        <input disabled class="form-control input-md" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" id="bidderEmail" name="bidderEmail" type="text" placeholder="Please enter email" >   
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                        <label class="control-label" for="city">City <span class="text-red">*</span></label>  
                                        <input disabled class="form-control input-md" required id="city" name="city" type="text" placeholder="Please enter city" >
                                    </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                        <label class="control-label" for="zipcode">State <span class="text-red">*</span></label>  
                                        <input disabled class="form-control input-md"  required id="state" name="state" type="text" placeholder="Please enter state" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                        <label class="control-label" for="country">Country <span class="text-red">*</span></label>  
                                        <select disabled class="form-control input-md"  required id="country" name="country" >
                                            <option>--- Select counrty ---</option>
                                            <option value="UNITED STATES" ng-selected >UNITED STATES</option>
                                            <option value="UNITED KINGDOM">UNITED KINGDOM</option>
                                        </select>
                                        
                                    </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                        <label class="control-label" for="zipcode">Zipcode <span class="text-red">*</span></label>  
                                        <input disabled class="form-control input-md"  required id="zipcode" name="zipcode" type="number" placeholder="Zipcode" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                        <label class="control-label" for="country">Bid Brief <span class="text-red">*</span></label>  
                                        <textarea row="3" disabled class="form-control input-md" >Plesae enter bid discription</textarea>
                                    </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                        <label class="control-label" for="bidPrice">Bid Price  (For RFQ's only) <span class="text-red">*</span></label>  
                                        <input disabled class="form-control input-md"  required id="bidPrice" name="bidPrice" type="number" placeholder="Please enter price" >
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="form-group row" >
                       <div class="col-xs-offset-1 col-xs-12 col-sm-offset-1 col-sm-10" #formField>
                
                       </div>                     
                    </div>
                    <div class="text-center">
                            <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(personal)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                        <button class="btn btn-success btn-outline-rounded"  (click)="submitForm()"> Submit <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                    </div>
                </div>
            </div>
            <!-- End Content Area -->
        </div>
  
        <!-- For Debugging: show our valid formData -->
        <!-- <pre>{{ formData | json }}</pre> -->
    </div>
  </section>
