<section style="background:#efefe9;">

  <div class="container">
      <div class="board">
          <!-- Navigation Area (Circular Tabs) -->
          <app-bidder-wizard-navbar></app-bidder-wizard-navbar>
          <!-- End Navigation Area (Circular Tabs) -->

          <!-- Content Area -->
          <div class="tab-content">
              <!-- Nested view  -->
              <div class="tab-pane fade in active">
                  <div class="tab-pane fade in active">
                      <div class="inr_container">
                              <h1>Instructions </h1>
                              <div class="inr_container_in">
                                  <p>This setup utility alllows you to add custom fields to Bidders that are to be posted for bidding.</p>
                                  <p>Each Bidder form has a set of required information that must be required that must be required but there are also optional fields you may wish to add for additional information of clarity.</p>
                                  <p>The reqiured fields are:</p>
                                  <ul>
                                      <li>First name</li>
                                      <li>Last name</li>
                                      <li>Bidder title(Mr, Dr, Mrs, ms)</li>
                                      <li>Bidder company name</li>
                                      <li>Bidder email</li>
                                      <li>City</li>
                                      <li>State</li>
                                      <li>Country</li>
                                      <li>Zip code</li>
                                      <li>Bid brief (Peragraph describing the bid, 500 chars max)</li>
                                      <li style="color:red">Bid price ( For RFQ's only)</li>
                                      
                                  </ul>
                                  <p>Optional fields can be added on the next screen by selecting on component type, selecting the "Add" action and specifying the related parameters. Once ypu have entered all of the optional fields you want, you can view a sample RFx Create screen and save the configuration imformation</p>
                                  <p>Once the configuration is complete , when new Bid's are created , the Bidder will be prompted to supply all of the information required for Bidding on RFP.</p>
                                  
                              </div>
                      </div>
                  </div>
                  <div class="form-group text-center">
                      <button class="btn btn-success btn-outline-rounded btn-info" (click)="goToNext()"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                  </div>
              </div>
          </div>
          <!-- End Content Area -->
      </div>

      <!-- For Debugging: show our valid formData -->
      <!-- <pre>{{ formData | json }}</pre> -->
  </div>
</section>
<style>
      
      .e-error,
      .e-float-text {
          font-weight: 500;
      }
  
      .e-custom-label {
          font-size: 14px;
          font-weight: 500;
          margin-left: 20px;
      }

      .e-float-input .ng-invalid:not(form)  {
      border-left: none;
      }

      .e-float-input .ng-valid[required], .ng-valid.required  {
          border-left: none;
          }
  
  </style>

