<div class="board-inner" id="status-buttons">
    <ul class="nav nav-tabs" id="myTab">
        <div class="liner"></div>
                    
        <!-- circular user icon -->
        <li>
            <a routerLink="/bidder_wizard_reuired_fields" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Required Fields">
                <span class="round-tabs one">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
            </a>
        </li>

        <!-- circular tasks icon -->
         <li>
            <a routerLink="/bidder_wizard_optional_fields" routerLinkActive="active" data-toggle="tab" title="Optional fields">
                <span class="round-tabs two">
                    <i class="glyphicon glyphicon-tasks"></i>
                </span> 
            </a>
        </li>

        <li>
            <a routerLink="/bidder_wizard_form_review" routerLinkActive="active" data-toggle="tab" title="completed">
                <span class="round-tabs four">
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
            </a>
        </li>
                
    </ul>
    <div class="clearfix"></div>
</div>

<!-- Close the Splash screen -->
<script src="assets/js/loading-bars.js"></script>